# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [8]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [9]:
csv_file = os.path.join('..', 'WeatherPy', 'Output', 'city_weather.csv')

city_df = pd.read_csv(csv_file)
city_df

,City,City ID,Lat,Lng,Temperature,Humidity,Clouds,Wind Speed
0,Butaritari,2110227,3.07,172.79,84.58,77,100,10.33
1,Albany,5106841,42.60,-73.97,39.18,48,20,19.46
2,Hasaki,2112802,35.73,140.83,58.17,47,40,11.41
3,Novo Aripuanã,3663142,-5.12,-60.38,72.86,97,100,1.86
4,Bredasdorp,1015776,-34.53,20.04,51.80,71,99,4.16
...,...,...,...,...,...,...,...,...
557,Juegang,1804979,32.32,121.19,61.00,72,88,17.58
558,Bonthe,2409914,7.53,-12.51,80.06,89,42,8.01
559,Kavaratti,1267390,10.57,72.64,84.47,67,2,10.56
560,Jumla,1283285,29.27,82.18,56.39,15,97,1.81
561,Onega,515246,63.91,38.14,25.23,92,98,9.82

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [10]:
gmaps.configure(api_key=g_key)

In [11]:
locations = city_df[["Lat", "Lng"]]
humidity = city_df["Humidity"].astype(float)

humidity

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map